html {
  background: url("http://i.imgur.com/4aqfVFm.png");
}

.result_box {
  display: block;
}

.coffee_container {
  display: block;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 700px;
  background-color: brown;
  border-radius: 800px;
  z-index: 1000;

}

.coffee_set {
  position: absolute;
  padding-right:15px;
  padding-left:15px;
  width: 600px;
  height: 600px;
  border-radius: 600px;
}


ul.coffee_list {
    margin-left: 0em;
/*    padding-left: -10em;*/
}

li.coffee_icon {
  content: url(http://i68.tinypic.com/2iqmi3t.png);
  display: inline;
  width: 13%;
  height: 13%;
}

.last_label {
  z-index: 9999;
  position:fixed;
  top: 50%;
  left: auto;
  right: auto;
  background-color: #FFFFFF;
  text-align: center;
  font-size: 65px;
}

.last_label h7 {
  font-size: 36px;
  font-weight: 900;
}

.btn {
  display: block;
}

.col-xs-8 {
  display: block;
}
