html {
  background: url("http://i.imgur.com/4aqfVFm.png");
}


.cafe_finder{
  color: black
}
.btn-primary {
  color: black;
  background-color: rgba(138, 109, 59, 0.5);
  border-color: #333
}

.btn-primary:hover {
  color: white;
  background-color: rgba(138, 109, 59, 0.5);
  border-color: black
}


.form-horizontal {
  width: 40%;
}
li p {
  color: white;
}

.sidebar-brand h3 {
  font-size: 28px;
  color: white;
}

.sidebar-brand h4 {
  color: white;
}


.result_box {
  display: block;
}

.coffee_container {
  display: block;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 700px;
}

.coffee_set {
  position: absolute;
  padding-right:15px;
  padding-left:15px;
  width: 600px;
  height: 600px;
}


ul.coffee_list {
    margin-left: 0em;
/*    padding-left: -10em;*/
}

li.coffee_icon {
  content: url(http://i68.tinypic.com/2iqmi3t.png);
  display: inline;
  width: 13%;
  height: 13%;
}

.last_label {
  z-index: 9999;
  position:fixed;
  top: 50%;
  left: auto;
  right: auto;
  background-color: #FFFFFF;
  text-align: center;
  font-size: 65px;
}

.last_label h3 {
  font-size: 36px;
  font-weight: 900;
  -webkit-transition-delay: 25s;
}

.btn {
  margin-right: 80px;
  width: 50%;
  font-size: 20px;
}

a.btn {
  margin-right: 80px;
  width: 50%;
  font-size: 20px;
}

a#logout {
  width: 50%;
  background-color: #420000;
  opacity: .7;
  margin-left: 50px;
}


.container-fluid {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center {
    text-align:center;
    display: inline-block;
}

.center form {
    display:inline-block;
}

.col-xs-8 {
  text-align: center;
  font-size: 30px;
}

.col-xs-8 h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}


#map {
    box-shadow: 10px 10px 23px -4px rgba(0,0,0,0.75)
}
  
html, body, #map {
      height: 100%;
     
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;

      padding: 0px;
        background-color: rgba(255, 255, 255, 0);
    
}

h1.cafe {
  font-size: 36px;
  color: black;
  text-align: center;
  margin-right: 220px;
}

div.shake-slow {
display: inherit;
}

#coffee_button {
  margin-top: 10px;
}
#coffee_link {
  color: black;
}

.cafe_finder {
    font-family: Verdana;
    text-align: center;
    margin-right: 220px;
}

#coffee_button {
  margin-right: 80px;
  width: 8%;
  font-size: 20px;
}

#shake_cup {
  width: 35%;
  height: 35%;
}


