 <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
            <h1>Results</h1>

            <h2>A <%= @item.desired_name %> will get you <%= (@item.desired_price / @item.base_price).floor %>  <%= @item.base_name %>s </h2>

            <h3> <%= @item.threshold %> </h3>
          </div>
      </div>
    </div>
  </div>