 <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
            <h1>Results</h1>

            <h2>A <%= @item.desired_name %> will get you <%= (@item.desired_price / @item.base_price).floor %>  <%= @item.base_name %>s </h2>

            <h3> <%= @item.threshold %> </h3>
          </div>
          <div class="container">
            <div id='coffee_icon'>
              <script type="text/javascript">
                var parent    = document.getElementById('coffee_icon'),
                    imagePath = 'http://imgh.us/coffee.svgz',
                    img;

                for (var i = 0; i <= 30; i++) {
                    img = new Image();
                    img.src = imagePath;
                    parent.appendChild(img);
                }
              </script>
            </div>
          </div>
      </div>
    </div>
  </div>